<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>
<h1>Registration Form</h1>

<form action="/UtilAct/register" method="POST">
  <label for="nom">Nom:</label>
  <input type="text" id="nom" name="nom" th:value="${utilisateur.nom}"><br><br>

  <label for="role">Role:</label>
  <input type="text" id="role" name="role" th:value="${utilisateur.role}"><br><br>

  <label for="prenom">Prenom:</label>
  <input type="text" id="prenom" name="prenom" th:value="${utilisateur.prenom}"><br><br>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" th:value="${utilisateur.email}"><br><br>

  <label for="mdp">Password:</label>
  <input type="password" id="mdp" name="mdp" th:value="${utilisateur.mdp}"><br><br>

  <label for="tel">Phone:</label>
  <input type="text" id="tel" name="tel" th:value="${utilisateur.tel}"><br><br>

  <button type="submit">Register</button>
</form>

</body>
</html>
